@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


:root {
    --font1: verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

html, body{
    min-height: 100vh;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    min-height: 250px;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font: bold 10vw var(--font2);
    font-variant: small-caps;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section {
    font: normal 5vw var(--font3);
    text-align: justify;
    padding: 10vh 30px;
    line-height: 2em;
}

section p {
    padding-bottom: 2em;
}

section.color {
    background-color: white;
    color: black;
}

section.image {
    background: rgb(27, 27, 27) center no-repeat fixed;
    background-size: cover;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
}

section#first {
    background-image: url(../images/background001.jpg);
}

section#second {
    background-image: url(../images/background002.jpg);
}

section.image p{
    display: inline-block;
    outline: 10px solid rgba(0, 0, 0, 0.308);
    color: white;
    background-color: rgba(0, 0, 0, 0.308);
    text-shadow: 1px 1px 0px black;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding:10px;
}